<%= react_component("home/home", {
    name: current_user.username, 
    email: current_user.email, 
    telephone: current_user.telephone, 
    posts: @posts
    })%>

<p><%= link_to 'Выйти', destroy_user_session_path, :method => :delete %></p>