@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');

$col1: rgb(67, 67, 73);
$font: "PT Sans";

.home-page-header{
    font-family: $font;
    font-weight: 700;
    font-size: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.home-page{
    font-family: $font;
    font-weight: 400;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
}

.home-page .img{
    align-items: center;
    width: 600px;
    display: flex;
    margin: auto;
}
.home-page .section {
    font-family: $font;
    font-style: italic;
    font-size: 30px;
}

.button{
    font-family: $font;
    font-weight: 700;
    font-size: 15px;
    display: block;	
    justify-content: center;
    align-items: center;
    height: 35px;
    padding: 0 40px;
    box-sizing: border-box;
    cursor: pointer;
    transition: transform .8s ease-in-out;
}

.button:hover{
    transform: scale(1.1);
    transition: transform .8s ease-in-out;;
}

.button:active{
    animation: anim 1s;
}

@keyframes anim {
    0% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

a{
    text-decoration: none;
}

.scroll-button {
    position: fixed;
    bottom: 80px;
    right: 50px;
    width: 50px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #f5f5f5;
    color: #444;
    cursor: pointer;
    border-radius: 2px;
    animation: fadeIn 700ms ease-in-out 1s both;
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.share-buttons {
    vertical-align: top;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    filter: brightness(1);
}

.share-buttons:hover {
    filter: brightness(1.35);
}